@media (max-width: 1440px) {
  .container {
    max-width: 95%;
  }
}

@media (max-width: 1023px) {
  .hero_area .left_block h1 {
    letter-spacing: -2%;
  }
  .discover-area .discover-wraper .heading_52 {
    line-height: 3rem;
  }
}

@media (max-width: 991px) {
  .hero_area .hero_wraper {
    padding-bottom: 2.5rem;
  }
  /* .container{
     max-width: 93%;
    } */

  .hero_area .left_block {
    display: block;
  }

  .hero_area .left_block img {
    margin-bottom: 0;
  }
  .hero_area .right_block {
    display: none;
  }

  .discover-area .discover-wraper .section_heading {
    /* margin-bottom: 1.5rem; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .discover-area .discover-wraper .heading_52 {
    max-width: 35.38rem;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 98%;
  }

  .header-area .navbar-toggler {
    padding: 0.35rem;
  }

  .discover-area .discover-wraper .heading_52 {
    margin-bottom: 1.5rem;
  }

  .discover-area .discover-img-wraper {
    grid-template-columns: 1fr;
  }

  .property-area .property-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  /* .container {
    text-align: center;
  } */

  .discover-area .discover-wraper, .property-area .property-wraper{
    padding: 3.75rem 0;
  }

  .header-area .navbar-toggler {
    padding: 0.25rem;
  }

  .hero_area .left_block h1 {
    line-height: 2.5rem;
  }

  .discover-area .discover-wraper .section_heading,
  .property-area .property-wraper .section_heading {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .discover-area .discover-wraper .heading_52,
  .property-area .property-wraper .heading_52 {
    line-height: 2.13rem;
    margin-bottom: 1.5rem;
  }

  /* PROPERTY AREA CSS  */

  .property-container .property-content .property-name p,
  .property-container .property-content p {
    font-size: 0.75rem;
  }

  .property-container .property-content .property-info p {
    flex-direction: column;
  }
}
