/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

/* ROOT VATIABLES */

:root {
  --bg_primary: #18181b;
  --bg_secondary: #fcfcfc;
  --bg_white: #ffffff;

  --text_primary: #18181b;
  --text-secondary: #70707b;
  --text_white: #ffffff;

  --radius_12: 0.75rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Space Grotesk", serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #ffffff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text_primary);
}

/* CUSTOM CSS*/

.container {
}

/* BUTTONS */

button {
  border: 1px solid transparent;
  background-color: transparent;
}

.btn_primary {
  background-color: var(--bg_primary);
  color: var(--text_white);
  padding: 0.625rem 1.5;
  border-radius: var(--radius_12);
  border: 1px solid transparent;
}

.btn_primary:hover {
  background-color: var(--bg_white);
  border: 1px solid var(--text_primary);
  color: var(--text_primary);
  scale: 1.02;
}
.btn_secondary {
  background-color: var(--bg_white);
  color: var(--text_primary);
  padding: 0.625rem 1.125rem;
  border: 1px solid transparent;
  border-radius: var(--radius_12);
}

.btn_secondary:hover {
  border: 1px solid var(--text_white);
  color: var(--text_white);
}

/* TEXT */
.heading_52 {
  font-size: 3.25rem;
  color: var(--text_primary);
  font-weight: 400;
  line-height: 3.875rem;
  letter-spacing: -2%;
}
.heading_24 {
  font-size: 1.5rem;
  color: var(--text_primary);
  font-weight: 500;
  line-height: 1.813rem;
}
.paragraph_20 {
  color: var(--text-secondary);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.875rem;
}

/* ========= HEADER PART CSS ========= */
.header-area {
  width: 100%;
  background-image: url("/assets/images/hero_img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
.header-area::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to top, #000000ed, transparent 93%);
  z-index: -1;
}

.header-area::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #000000ed, transparent 20%);
  z-index: -1;
}

.header-area .navbar-brand {
  color: var(--text_white);
  font-weight: bold;
}

.header-area .navbar {
  /* padding: 1.625rem 0; */
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
}

.header-area .navbar-toggler {
  background-color: var(--bg_secondary);
  padding: 0.4rem;
}

.header-area .navbar-toggler:focus {
  outline: none !important;
  box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 5px 8px;
}

.header-area .navbar-nav .nav-link {
  color: var(--text_white);
}

/* HERO PART CSS START */
.hero_area {
  height: 100vh;
  color: var(--text_white);
}

.hero_area .hero_wraper {
  height: 100vh;
  color: var(--text_white);
  padding-bottom: 3rem;
  display: flex;
  align-items: end;
}

.hero_area .left_block {
  /* width: 70%; */
  display: flex;
  align-items: end;
  gap: 1.5rem;
  /* align-content: center; */
}

.hero_area .left_block img {
  width: 3.5rem;

  margin-bottom: 1.25rem;
}

.hero_area .left_block h1 {
  font-size: clamp(2rem, 0.3118rem + 7.0022vw, 6.5rem);

  line-height-step: 2.531rem;
  font-weight: 400;
  /* line-height: 7.15rem; */
}

.hero_area .left_block h1 span {
  font-weight: 700;
}

.hero_area .left_block img {
}

.hero_area .right_block {
  background-color: rgba(255, 255, 255, 0.24);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  padding: 0.75rem 0.5rem;
  border-radius: var(--radius_12);
}

.hero_area .right_block img {
  width: 100%;
  border-radius: var(--radius_12);
}

.hero_area .right_block > img:nth-child(1) {
  border: 2px solid white;
}
/* HERO PART CSS END */

/* DISCOVER PART CSS START */

.discover-area {
}
.discover-area .discover-wraper {
  padding: 5rem 0;
}

.discover-area .section_heading {
}

.discover-area .discover-wraper .heading_52,
.property-area .property-wraper .heading_52 {
  margin-bottom: 2rem;
  font-size: clamp(2rem, 0.9754rem + 3.2787vw, 3.25rem);
  /* line-height-step: 2.325rem; */
}

.discover-wraper .section_heading button {
  margin-bottom: 1.5rem;
}

.discover-area .discover-img-wraper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 3.5rem;
}

.discover-area .discover-img-wraper .card {
  border: none;
  width: 100%;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.discover-area .discover-img-wraper .card:hover {
  transform: translateY(-5px);
}
.discover-area .discover-img-wraper .card img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  display: block;
  border-radius: var(--radius_12);
}
.discover-area .discover-img-wraper .card h3 {
  margin: 0;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}
.discover-area .discover-img-wraper .card p {
  margin: 0;
  color: var(--text-secondary);
}
/* DISCOVER PART CSS END */

/* PROPERTY LISTING PART CSS START */
.property-area {
}

.property-area .property-wraper {
  padding: 5rem 0;
}

.property-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1.5rem;
  margin-top: 3.5rem;
}

.property-container .property-card {
  position: relative;
  background: #fff;
  border-radius: 8px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.property-container .property-card img {
  width: 100%;
  height: 21.25rem;
  border-radius: 0.75rem;
  object-fit: cover;
}

.property-container .property-card .property-tags {
  position: absolute;
  display: flex;
  gap: 0.5rem;
  top: 10px;
  right: 10px;
}

.property-container .property-card .property-tags span {
  background: var(--bg_primary);
  color: var(--text_white);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1%;
  padding: 0.5rem 0.75rem;
  border-radius: 1.375rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.property-container .property-card .property-tags span img {
  width: 1.25rem;
  height: 1.25rem;
}

.property-container .property-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.property-container .property-content > h3,
p {
  margin-bottom: 0;
}

.property-container .property-content h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.property-container .property-content p {
  color: var(--text-secondary);
  font-size: 0.875rem;
}

.property-container .property-content .property-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.property-container .property-content .property-name-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.property-container .property-content .property-name h3 {
  margin-bottom: 0.25rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.property-container .property-content .property-name p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-secondary);
}

.property-container .property-content .property-name img {
  width: 20px;
  height: 20px;
}

.property-container .property-content .property-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.property-container .property-content .property-price .price {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.25rem;
  color: var(--text_primary);
}

.property-container .property-content .property-info p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
}

.property-container .property-content .property-info img {
  width: 1.5rem;
  height: 1.5rem;
}

.property-container .property-content hr {
  display: block;
  height: 1.5px;
  border-top: 1px solid #e4e4e7;
  margin: 1rem 0;
  opacity: 1;
}

.property-area .view-more {
  /* width: 20%; */
  margin-top: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide {
  display: none;
}
